<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>

    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <!--v1表名称-->
    <add key="HeadTableName" value="EHS_ENTRY_HEAD"/>
    <!--敦豪公司代码，必须与《用户管理》中的公司id一致-->
    <add key="DunHaoTradeCode" value="112233"/>
  </appSettings>
  <connectionStrings>
    <!--新数据库-->
    <add name="ConnString" connectionString="Server=.;Database=GuangZhouInput2007;Uid=sa;Pwd=sasa;Max Pool Size=500" providerName="System.Data.SqlClient"/>
    <!--查询V1表的数据库-->
    <add name="ConnString2" connectionString="Server=.;Database=IM_Manifest_DB_ChenZhou;Uid=sa;Pwd=sasa;Max Pool Size=500" providerName="System.Data.SqlClient"/>
    <!--敦豪数据库-->
    <add name="DunHaoConnString" connectionString="Server=.;Database=IM_Manifest_DB_Zhengzhou;Uid=sa;Pwd=sasa;Max Pool Size=500" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>